* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-size: 100%;
  font-family: "Roboto", sans-serif;
}

ul {
  list-style-type: none;
}

a {
  opacity: 0.9;
  text-decoration: none;
  cursor: pointer;
}

a:hover {
  opacity: 1;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: linear-gradient(to bottom, #bb7505, #bec606);
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  padding: 10px 40px;
}

header img {
  width: 200px;
}

header ul {
  display: flex;
}

header a {
  color: #22220d;
}

header li {
  margin: 0 12px;
}

header li:first-child {
  margin-left: 0;
}

header li:last-child {
  margin-right: 0;
}

@media (max-width: 700px) {
  header {
    flex-direction: column;
  }

  header img {
    margin-bottom: 15px;
  }

  .sobre h1 {
    font-size: 1rem;
  }

  .sobre h3 {
    font-size: 0.5rem;
  }
}

.sobre {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  flex-direction: column;
  background: url("/imagens/hero.jpg");
  background-size: cover;
  min-height: 100vh;
  color: #fff;
}

.sobre h1 {
  font-size: 3rem;
  margin-bottom: 10px;
}

.sobre h3 {
  font-size: 2rem;
  margin-bottom: 10px;
}

.botao {
  background: #fff;
  color: #22220d;
  border-radius: 5px;
  padding: 10px 40px;
  text-transform: uppercase;
  margin-top: 20px;
}

@media (max-width: 720px) {
  .sobre h1 {
    font-size: 2rem;
  }

  .sobre h3 {
    font-size: 1.4rem;
  }
}

.atracao {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 100px 50px;
}

.atracao h3 {
  margin-bottom: 25px;
  font-size: 1rem;
  text-align: center;
}

.atracao p {
  max-width: 800px;
  margin-bottom: 25px;
  text-align: center;
}

.atracao hr {
  width: 200px;
  height: 2px;
  background: #22220d;
  border: none;
  margin-bottom: 50px;
}
.list {
  display: flex;
  width: 100%;
  flex-wrap: wrap;
}

.list li {
  padding: 20px;
  height: 350px;
  border-radius: 5px;
  background-clip: content-box;
  background-size: cover;
  background-position: center center;
}
.imagem-pequena {
  flex-basis: 40%;
}
.imagem-grande {
  flex-basis: 60%;
}

@media (max-width: 700px) {
  .imagem-peqeuna,
  .imagem-grande {
    flex-basis: 100%;
  }
}

.caracteristica {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 100px 50px;
  background-color: #22220d;
  color: #fff;
}

.caracteristica h3 {
  margin-bottom: 35px;
  font-size: 1rem;
  text-align: center;
}

.caracteristica p {
  max-width: 800px;
  margin-bottom: 35px;
  text-align: center;
}

.caracteristica hr {
  width: 200px;
  height: 2px;
  background: #fff;
  border: none;
  margin-bottom: 70px;
}

.caracteristica .list {
  display: flex;
  width: 100%;
 
}

.caracteristica li {
  padding: 0 30px;
  text-align: center;
  margin: auto;
}

.caracteristica .list li span {
  color: #c3c63b;
  font-size: 50px;
  margin-bottom: 30px;
}

.caracteristica .list li h4 {
  font-size: 1.5rem;
  margin-bottom: 30px;
}
